<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1><span>&lt;</span>DevLog<span>/&gt;</span></h1>
    <% for(post of posts) { %>
        <div class="post">
            <div class="user-row">
                <img src="https://ui-avatars.com/api/?name=<%= post.username %>&background=random&rounded=true&size=40" class="avatar" />
                <h3 class="user">@<%= post.username %></h3>
            </div>
            <p class="content"><%= post.content %></p>
        
            <div class="actions">
                <a href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a> 
                <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
                <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                    <button>Delete Post</button>
                </form>
            </div>
            </div>
    <% } %>

    <a href="http://localhost:8080/posts/new" class="create-link">Create New Post</a>
    <!-- <br /> -->
    <!-- <br /> -->
    <!-- <br /> -->

</body>
</html>